php_errors.log
Mapinfo/*
!Mapinfo/TEMPLATE.php
wells/*
!wells/TEMPLATE.php
!wells/wells_pic
!wells/wells-header.php
wells/wells_pic/*
OVERRIDE_*
livedata/
uploads/
aboutPageFiles/
aboutPage.php
bibliography.php
sitemap.xml