* {
  padding: 0;
  margin: 0;
}

.region-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.region-title {
  background-color: #99CCFF;
  color: #FFFFFF;
  width: 100%;
  padding-left: 10px;
  margin-top: 5px;
  font-size: 3em;
  font-family: Arial;
}

.province-container {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.province-title {
  width: 100%;
  padding-left: 5px;
  margin-top: 5px;
  font-family: Arial;
}

.period-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.period-title {
  padding-left: 10px;
  margin-top: 5px;
  font-family: Arial;
}

.formation-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.formation-item {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	border-top-color: grey;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: grey;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: grey;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: grey;
	border-left-style: solid;
	border-left-width: 1px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 170px;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.formation-item a {
	text-decoration: none;
  color: #000000;
  font-family: Arial;
}

.geojson-icon {
  padding-right: 10px;
  font-size: 13px;
}
