.mainBody {
  padding-left: 10px;
}

body {
  background-color: #fff;
  color: #333;
  font-family: arial;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, Arial, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: 24px;
}

.container {
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.left-menu {
  height: 100vh;
  width: 20%;
  background-color: #313540;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-menu-ul {
  display: flex;
  flex-direction: column;
}

html, .aside-left {
  height: 100%;
}

.fl {
  float: left;
}

.fr {
    float: right;
}

.formation-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.formation-item {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  border: solid grey 1px;
  border-radius: 5px;
  width: 170px;
  display: flex;
  align-items: center;
}

.aside-left {
  width: 20%;
  float: left;
  height: 100%;
  background-color: #313540;
}
.aside-left .m-title {
  background-color: #70808f;
  color: #fff;
  font-size: 24px;
}
.aside-left ul {
  height: 100%;
}
.aside-left ul li {
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.aside-left ul li a {
  color: #707782;
  text-decoration: none;
  display: block;
}

.aside-left ul a {
  color: #fff;
  background-color: #272a33;
}

.aside-right .top h1 {
  font-size: 24px;
  font-weight: bold;
  padding-left: 30px;
}
.aside-right .top .user {
  margin-right: 30px;
}
.aside-right .top .logout {
  color: #fff;
  background-color: #70808f;
  position: absolute;
  right: 15%;
  top: 0;
  padding: 3px 5px;
  display: inline-block;
  line-height: 1.6;
}

.db {
  width: 400px;
  margin: 150px auto 0;
}

.h2, .sch {
  font-size: 30px;
}
.sch {
  margin-top: 10px;
}
.sch input {
  margin-left: 10px;
  position: relative;
  top: -5px;
  height: 30px;
  width: 200px;
  line-height: 30px;
}

.item {
  color: #ffffff !important;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: orange !important;
}

.menu-link {
  color: #ffffff;
}

.error {
  color: #CC0000;
}

.footer-container {
  width: 100%;
  background-color: #333333;
  height: 20px;
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.footer-container > a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.footer-container > a:hover {
  color: orange;
  font-weight: bold;
}